@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/knockout-2.2.0.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>newstracker.com</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- for fontawesome icon css file -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <!-- for content animate css file -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- google fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <!-- slick slider css file -->
    <link href="/css/slick.css" rel="stylesheet">
    <!-- <link href="/css/theme-red.css" rel="stylesheet"> -->
    <link href="/css/theme.css" rel="stylesheet">
    <!-- main site css file -->
    <link href="/style.css" rel="stylesheet">


    <script src="/js/jquery-1.9.1.min.js"></script>
    <script src="/js/sweetalert-dev.js"></script>
    <link href="/css/sweetalert.css" rel="stylesheet" />


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- =========================
      //////////////This Theme Design and Developed //////////////////////
      //////////// by www.wpfreeware.com======================-->
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    <!-- End Preloader -->

    <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

    <div class="container">
        <!-- start header area -->
        <header id="header">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <!-- start header top -->
                    <div class="header_top">
                        <div class="header_top_right">
                            <ul class="top_nav">
                                <li style="float: right;"><a href="#" id="logout">logout</a></li>
                            </ul>
                        </div>
                    </div><!-- End header top -->
                    <!-- start header bottom -->
                    <div class="header_bottom">
                        <div class="header_bottom_left" style=" margin-right:500px">
                            <!-- for text logo -->
                            <a class="logo" href="index.html">
                                NEWS<strong>tracker</strong>
                            </a>
                        </div>
                        <div class="header_bottom_left" style=" width: 175px;">
                            <div class="single_bottom_rightbar">
                                <h2>language</h2>
                                <div class="blog_archive wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">
                                    <form>
                                        <select id="lang" data-bind="options: lang_name,
                                                  optionsText: 'language',
                                                  optionsValue: 'l_id',
                                                  optionsCaption: 'Select language' "></select>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="header_bottom_left" style=" width: 175px; margin-left: 10px;">
                            <div class=" single_bottom_rightbar">
                                <h2>provider</h2>
                                <div class="blog_archive wow fadeInDown animated animated" style="visibility: visible; animation-name: fadeInDown;">
                                    <form>
                                        <select id="provider" data-bind="options: pro_name,
                                                  optionsText: 'news_provider',
                                                  optionsValue: 'p_id',
                                                  optionsCaption: 'Select provider' "></select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- End header bottom -->
                </div>
            </div>
        </header><!-- End header area -->
        <!-- Static navbar -->
        <div id="navarea">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav custom_nav">
                            <li class=""><a href="#" id="home">Home</a></li>
                            <li class="dropdown">
                                <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false">category</a>
                                <ul class="dropdown-menu" role="menu" data-bind="foreach: category" id="cat">
                                    <li><a href="#" data-bind="text: category,value: c_id,event:{click: cat}"></a></li>
                                </ul>
                            </li>
                            
                            <li><a href="/common/snews">saved news</a></li>
                            <li><a href="archive1.html">about us</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>
        </div>
        <div class="update-right-border"></div> <!-- /.update-right-border -->
        <!-- / .ccr-last-update -->
        <section id="mainContent">
            <!-- start main content top -->
            <div class="content_top">
                <div class="row">
                    <!-- start content top latest slider -->
                    <div class="col-lg-6 col-md-6 col-sm6">
                        <div class="latest_slider">
                            <!-- Set up your HTML -->
                            <div class="slick_slider">
                                <div class="single_iteam" data-bind="foreach : main_news" id="main_news1">
                                    <a href="#"><img data-bind="attr:{src: img}" @*alt="Main Slide Image 1"*@></a>
                                    <p><a href="#" data-bind="value: index,event:{click: view_main}"></a></p>
                                    <h2><a class="slider_tittle" href="" data-bind="event:{click: view_main},text: title"></a></h2>
                                </div>
                                <div class="single_iteam" data-bind="foreach : main_news" id="main_news2">

                                    <a href="#"><img data-bind="attr:{src: img}" @*alt="Main Slide Image 1"*@></a>
                                    <p><a href="#" data-bind="value: index,event:{click: view_main}"></a></p>
                                    <!-- /.slide-element -->
                                    <h2><a class="slider_tittle" href="#" data-bind="event:{click: view_main},text: title"></a></h2>
                                </div>
                                <div class="single_iteam" data-bind="foreach : main_news" id="main_news3">
                                    <a href="#"><img data-bind="attr:{src: img}" @*alt="Main Slide Image 1"*@></a>
                                    <p><a href="#" data-bind="value: index,event:{click: view_main}"></a></p>
                                    <h2><a class="slider_tittle" href="#" data-bind="event:{click: view_main},text: title"></a></h2>
                                </div>
                                <div class="single_iteam" data-bind="foreach : main_news" id="main_news">
                                    <a href="#"><img data-bind="attr:{src: img}" @*alt="Main Slide Image 1"*@></a>
                                    <p><a href="#" data-bind="value: index,event:{click: view_main}"></a></p>
                                    <h2><a class="slider_tittle" href="#" data-bind="event:{click: view_main},text: title"></a></h2>
                                </div>
                            </div>
                        </div>
                    </div> <!-- End content top latest slider -->
                    <div class="col-lg-6 col-md-6 col-sm6">
                        <div class="content_top_right">
                            <ul class="featured_nav wow fadeInDown" id="cat3" data-bind="foreach: news">
                                <li>
                                    <img data-bind="attr:{src: img}">
                                    <div class="title_caption">
                                        <a href="single.html" data-bind="text: title,event:{click: view_main1}">
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End main content top -->
            <!-- start main content Middle -->
            <div class="content_middle">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="content_middle_leftbar">
                        <div class="single_category wow fadeInDown">
                            <h2>
                                <span class="bold_line"><span></span></span>
                                <span class="solid_line"></span>
                                <a href="/guest/guestnewslist?type=sports" class="title_text" id="sports">sports</a>
                            </h2>
                            <ul class="catg1_nav" id="cat1" data-bind="foreach: news">
                                <li>
                                    <div class="catgimg_container">
                                        <a href="single.html" class="catg1_img">
                                            <img data-bind="attr:{src: img}">
                                        </a>
                                    </div>
                                    <h3 class="post_titile"><a href="#" data-bind="text: title,event:{click: view_main2}"></a></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="content_middle_middle">
                        <div class="slick_slider2">
                            <div class="single_featured_slide" data-bind="foreach : main_news" id="main_n">
                                <div>
                                    <a href="#"><img data-bind="attr:{src: img}" @*alt="Main Slide Image 1"*@></a>
                                    <p><a href="#" data-bind="value: index,event:{click: view_main3}"></a></p>
                                    <h2><a class="slider_tittle" href="#" data-bind="text: title,event:{click: view_main3}"></a></h2>
                                </div>
                            </div>
                            <div class="single_featured_slide" data-bind="foreach : main_news" id="main_n1">
                                <div>
                                    <a href="#"><img data-bind="attr:{src: img}" @*alt="Main Slide Image 1"*@></a>
                                    <p><a href="#" data-bind="value: index,event:{click: view_main3}"></a></p>
                                    <h2><a class="slider_tittle" href="#" data-bind="text: title,event:{click: view_main3}"></a></h2>
                                </div>
                            </div>
                            <div class="single_featured_slide" data-bind="foreach : main_news" id="main_n2">
                                <div>
                                    <a href="#"><img data-bind="attr:{src: img}" @*alt="Main Slide Image 1"*@></a>
                                    <p><a href="#" data-bind="value: index,event:{click: view_main3}"></a></p>
                                    <h2><a class="slider_tittle" href="#" data-bind="text: title,event:{click: view_main3}"></a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="content_middle_rightbar">
                        <div class="single_category wow fadeInDown">
                            <h2>
                                <span class="bold_line"><span></span></span>
                                <span class="solid_line"></span>
                                <a href="/guest/guestnewslist?type=politics" class="title_text">politics</a>
                            </h2>
                            <ul class="catg1_nav" id="cat2" data-bind="foreach: news">
                                <li>
                                    <div class="catgimg_container">
                                        <a href="single.html" class="catg1_img">
                                            <img data-bind="attr:{src: img}">
                                        </a>
                                    </div>
                                    <h3 class="post_titile"><a href="#" data-bind="text: title,event:{click: view_main4}"></a></h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- End main content middle -->
            <!-- start main content bottom -->
            <div class="content_bottom">
                <div class="col-lg-8 col-md-8">
                    <!-- start content bottom left -->
                    <div class="content_bottom_left">
                        <!-- start business category -->
                        <div class="single_category wow fadeInDown">
                            <h2>
                                <span class="bold_line"><span></span></span>
                                <span class="solid_line"></span>
                                <a class="title_text" href="/guest/guestnewslist?type=business">Business</a>
                            </h2>
                            <div class="business_category_left wow fadeInDown">
                                <ul class="fashion_catgnav" data-bind="foreach : news" id="business">
                                    <li>
                                        <div class="catgimg2_container">
                                            <a href="single.html"><img alt="img" data-bind="attr:{src: img}"></a>
                                        </div>
                                        <h2 class="catg_titile"><a href="#" data-bind="text: title,value: index,event:{click: view_main5}"></a></h2>
                                        <div class="comments_box">
                                            <span class="meta_date">14/12/2013</span>
                                            <span class="meta_comment"><a href="#">No Comments</a></span>
                                            <span class="meta_more"><a href="#">Read More...</a></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="business_category_right wow fadeInDown" data-bind="foreach : news" id="bsmall">
                                <ul class="small_catg">
                                    <li>
                                        <div class="media wow fadeInDown">
                                            <a class="media-left" href="single.html">
                                                <img data-bind="attr:{src: img}" alt="img">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#" data-bind="text: title,value: index,event:{click: view_main5}"> </a></h4>
                                                <div class="comments_box">
                                                    <span class="meta_date">14/12/2013</span>
                                                    <span class="meta_comment"><a href="#">No Comments</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End business category -->
                        <!-- start technology category area -->
                        <div class="single_category wow fadeInDown">
                            <h2>
                                <span class="bold_line"><span></span></span>
                                <span class="solid_line"></span>
                                <a class="title_text" href="/guest/guestnewslist?type=technology">technology</a>
                            </h2>
                            <div class="business_category_left wow fadeInDown">
                                <ul class="fashion_catgnav" data-bind="foreach : news" id="tech">
                                    <li>
                                        <div class="catgimg2_container">
                                            <a href="single.html"><img alt="img" data-bind="attr:{src: img}"></a>
                                        </div>
                                        <h2 class="catg_titile"><a href="#" data-bind="text: title,value: index,event:{click: view_main6}"></a></h2>
                                        <div class="comments_box">
                                            <span class="meta_date">14/12/2013</span>
                                            <span class="meta_comment"><a href="#">No Comments</a></span>
                                            <span class="meta_more"><a href="#">Read More...</a></span>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                            <div class="business_category_right wow fadeInDown" data-bind="foreach : news" id="tsmall">
                                <ul class="small_catg">
                                    <li>
                                        <div class="media wow fadeInDown">
                                            <a class="media-left" href="single.html">
                                                <img data-bind="attr:{src: img}" alt="img">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#" data-bind="text: title,value: index,event:{click: view_main6}"> </a></h4>
                                                <div class="comments_box">
                                                    <span class="meta_date">14/12/2013</span>
                                                    <span class="meta_comment"><a href="#">No Comments</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- End technology category area -->
                    </div><!--End content_bottom_left-->
                </div>
                <!-- start content bottom right -->
                <div class="col-lg-4 col-md-4">
                    <div class="content_bottom_right">
                        <!-- start single bottom rightbar -->
                        <div class="single_bottom_rightbar">
                            <h2>most visited</h2>
                            <ul class="small_catg popular_catg wow fadeInDown" id="data_mine" data-bind="foreach: news ">
                                <li>
                                    <div class=" media wow fadeindown">
                                        <a href="#" class="media-left">
                                            <img data-bind="attr:{src: img}">
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#" data-bind="text: title,value: index,event:{click: view_common}"></a></h4>

                                        </div>
                                    </div>
                                </li>
                                @*<li>
                                        <div class="media wow fadeInDown">
                                            <a href="#" class="media-left">
                                                <img alt="img" src="/img/devhill/112x112.jpg">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                            </div>
                                        </div>
                                    </li>*@
                                @*<li>
                                        <div class="media wow fadeInDown">
                                            <a href="#" class="media-left">
                                                <img alt="img" src="/img/devhill/112x112.jpg">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                            </div>
                                        </div>
                                    </li>*@
                            </ul>
                        </div> <!-- End single bottom rightbar -->
                        <!-- start single bottom rightbar -->
                        @*<div class="single_bottom_rightbar">
                                <ul role="tablist" class="nav nav-tabs custom-tabs">
                                    <li class="active" role="presentation"><a data-toggle="tab" role="tab" aria-controls="home" href="#mostPopular">Most Popular</a></li>
                                    <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="messages" href="#recentComent">Recent Comment</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="mostPopular" class="tab-pane fade in active" role="tabpanel">
                                        <ul class="small_catg popular_catg wow fadeInDown">
                                            <li>
                                                <div class="media wow fadeInDown">
                                                    <a class="media-left" href="#">
                                                        <img src="/img/devhill/112x112.jpg" alt="img">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media wow fadeInDown">
                                                    <a class="media-left" href="#">
                                                        <img src="/img/devhill/112x112.jpg" alt="img">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media wow fadeInDown">
                                                    <a class="media-left" href="#">
                                                        <img src="/img/devhill/112x112.jpg" alt="img">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="recentComent" class="tab-pane fade" role="tabpanel">
                                        <ul class="small_catg popular_catg">
                                            <li>
                                                <div class="media wow fadeInDown">
                                                    <a class="media-left" href="#">
                                                        <img src="/img/devhill/112x112.jpg" alt="img">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media wow fadeInDown">
                                                    <a class="media-left" href="#">
                                                        <img src="/img/devhill/112x112.jpg" alt="img">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="media wow fadeInDown">
                                                    <a class="media-left" href="#">
                                                        <img src="/img/devhill/112x112.jpg" alt="img">
                                                    </a>
                                                    <div class="media-body">
                                                        <h4 class="media-heading"><a href="#">Duis condimentum nunc pretium lobortis </a></h4>
                                                        <p>Nunc tincidunt, elit non cursus euismod, lacus augue ornare metus, egestas imperdiet nulla nisl quis mauris. Suspendisse a pharetra </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>  End single bottom rightbar*@
                        @*<div class="single_bottom_rightbar">
                                <h2>Blog Archive</h2>
                                <div class="blog_archive wow fadeInDown">
                                    <form>
                                        <select>
                                            <option value="">Blog Archive</option>
                                            <option value="">October(20)</option>
                                        </select>
                                    </form>
                                </div>
                            </div>*@
                        @*<div class="single_bottom_rightbar wow fadeInDown">
                                <h2>Popular Lnks</h2>
                                <ul>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Blog Home</a></li>
                                    <li><a href="#">Error Page</a></li>
                                    <li><a href="#">Social link</a></li>
                                    <li><a href="#">Login</a></li>
                                </ul>
                            </div>*@
                    </div>
                </div>
                <!-- start content bottom right -->
            </div><!-- end main content bottom -->
        </section><!-- End site main content -->
    </div> <!-- /.container -->
    <footer id="footer">

        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_bottom_left">
                            <p>Copyright © 2014 <a href="index.html">Sora Red</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer_bottom_right">
                            <p>Developed BY <a href="http://wpfreeware.com/">Wpfreeware</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery google CDN Library -->
    <script src="/js/jquery.min.js"></script>
    <!-- For content animatin  -->
    <script src="/js/wow.min.js"></script>
    <!-- bootstrap js file -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- slick slider js file -->
    <script src="/js/slick.min.js"></script>
    <!-- custom js file include -->
    <script src="/js/custom.js"></script>

    <!-- =========================
          //////////////This Theme Design and Developed //////////////////////
          //////////// by www.wpfreeware.com======================-->


    <script>

        $('#category').click(function () {
            debugger;
            swal({
                title: "Category !",
                text: "Enter The Name Of New Category",
                type: "input", showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-top",
                inputPlaceholder: "Category Name"
            },
            function (inputValue) {

                if (inputValue === false)
                    return false;
                if (inputValue === "") {
                    swal.showInputError("You Need Specify A New Category");
                    return false
                }

                var entity = {};
                entity.category = inputValue;
                debugger;
                var dt = JSON.stringify(entity);
                $.ajax({
                    type: "post",
                    url: "/admin/add_category",
                    data: dt,
                    datatype: "json",
                    contentType: "application/json",
                    success: function (result) {
                        if (result == "exist") {
                            sweetAlert("Oops...", "Category Already Exists...", "error");
                        }
                            //alert (inputValue)
                        else
                            swal("Nice!", "You Have Added A New Category ", "success");
                    }
                });

            });


        });


        $('#logout').click(function () {

            swal({
                title: "Are you sure?",
                text: "You Really Want To Logout ?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Logout!",
                cancelButtonText: "No, cancel plx!",
                closeOnConfirm: false,
                closeOnCancel: false
            }, function (isConfirm) {
                if (isConfirm) {
                    swal("LoggedOut!", "See You Soon", "success");
                    window.location.href = "/guest/guest_index";
                }
                else {
                    swal("Cancelled", "Your Really Brilliant :)", "error");

                }
            });
        });

        $.ajax({
            type: "post",
            url: "/common/list_language",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('lang'));
            }
        });

        $('#lang').change(function () {
            debugger;
            var entity = {};
            entity.lang = $('#lang').val();


            var dt = JSON.stringify(entity);
            debugger;
            $.ajax({
                type: "post",
                url: "/common/selectprovider",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    var dt = JSON.parse(a);
                    ko.applyBindings(dt, document.getElementById('provider'));
                }
            });
        });

        $.ajax({
            type: "post",
            url: "/common/list_category",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('cat'));
            }
        });

        function cat(data, event) {
            debugger;

            var entity = {};
            entity.provider = $('#provider').val();
            entity.category = data.c_id;

            var dt = JSON.stringify(entity);
            if (entity.provider == null) {
                sweetAlert("Oops...", "select provider...", "error");
            }
            else {
                $.ajax({
                    type: "post",
                    url: "/common/page",
                    data: dt,
                    dataType: "json",
                    contentType: "Application/json",
                    success: function (a) {
                        if (a == "error") {
                            sweetAlert("Oops...", "the Category not Exists...", "error");
                        }
                        else {


                            window.location.href = "/common/catview";
                        }

                    }
                });
            }
        }

        /////news sports////
        debugger;
        var entity = {};
        entity.rss = "http://www.ibnlive.com/rss/sports.xml";
        var data = JSON.stringify(entity);
        $.ajax({
            type: "post",
            url: "/common/getnews",
            data: data,
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('cat1'));
            }
        });


        /////news politics////
        var entity = {};
        entity.rss = "http://www.ibnlive.com/rss/politics.xml";
        var data = JSON.stringify(entity);
        $.ajax({
            type: "post",
            url: "/common/getnews",
            data: data,
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('cat2'));
            }
        });
        /////news main division////
        var entity = {};
        entity.rss = "http://www.ibnlive.com/rss/world.xml";
        var data = JSON.stringify(entity);
        $.ajax({
            type: "post",
            url: "/common/getnews2",
            data: data,
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('cat3'));
            }
        });

        //business///
        var entity = {};
        entity.rss = "http://www.ibnlive.com/rss/business.xml";
        var data = JSON.stringify(entity);
        $.ajax({
            type: "post",
            url: "/common/getnews4",
            data: data,
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('business'));
            }
        });

        ///small busines//
        var entity = {};
        entity.rss = "http://www.ibnlive.com/rss/business.xml";
        var data = JSON.stringify(entity);
        $.ajax({
            type: "post",
            url: "/common/getnews3",
            data: data,
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('bsmall'));
            }
        });

        //technology///
        var entity = {};
        entity.rss = "http://www.ibnlive.com/rss/tech.xml";
        var data = JSON.stringify(entity);
        $.ajax({
            type: "post",
            url: "/common/getnews4",
            data: data,
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('tech'));
            }
        });

        ///small tcchnologys//
        var entity = {};
        entity.rss = "http://www.ibnlive.com/rss/tech.xml";
        var data = JSON.stringify(entity);
        $.ajax({
            type: "post",
            url: "/common/getnews3",
            data: data,
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                ko.applyBindings(dt, document.getElementById('tsmall'));
            }
        });

        ///---maninews start----///

        $.ajax({
            type: "post",
            url: "/common/main_news",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                //var s = result.news;

                //$('#latestUpdate').append(result.news);
                ko.applyBindings(dt, document.getElementById('main_news'));
            }
        });

        $.ajax({
            type: "post",
            url: "/common/main_news2",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                //var s = result.news;

                //$('#latestUpdate').append(result.news);
                ko.applyBindings(dt, document.getElementById('main_news2'));
            }
        });
        $.ajax({
            type: "post",
            url: "/common/main_news3",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                //var s = result.news;

                //$('#latestUpdate').append(result.news);
                ko.applyBindings(dt, document.getElementById('main_news3'));
            }
        });


        $.ajax({
            type: "post",
            url: "/common/main_news1",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                //var s = result.news;

                //$('#latestUpdate').append(result.news);
                ko.applyBindings(dt, document.getElementById('main_news1'));
            }
        });


        /// main news ends---////


        ////// main news2 start/////

        $.ajax({
            type: "post",
            url: "/common/main_n",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                //var s = result.news;

                //$('#latestUpdate').append(result.news);
                ko.applyBindings(dt, document.getElementById('main_n'));
            }
        });


        $.ajax({
            type: "post",
            url: "/common/main_n1",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                //var s = result.news;

                //$('#latestUpdate').append(result.news);
                ko.applyBindings(dt, document.getElementById('main_n1'));
            }
        });
        $.ajax({
            type: "post",
            url: "/common/main_n2",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                debugger;
                var dt = JSON.parse(result);
                //var s = result.news;

                //$('#latestUpdate').append(result.news);
                ko.applyBindings(dt, document.getElementById('main_n2'));
            }
        });

        ////main news 2 ends/////

        ///click function start///

        function view_main(data, event) {
            debugger;
            var id = data.id;
            var entity = {};

            entity.rss = "http://www.ibnlive.com/rss/india.xml";

            entity.index = data.index;
            var dt = JSON.stringify(entity);

            $.ajax({
                type: "post",
                url: "/common/single",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    window.location.href = "/common/dispnews";

                }
            });
        }
        function view_main1(data, event) {
            debugger;
            var id = data.id;
            var entity = {};

            entity.rss = "http://www.ibnlive.com/rss/india.xml";

            entity.index = data.index;
            var dt = JSON.stringify(entity);

            $.ajax({
                type: "post",
                url: "/common/single",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    window.location.href = "/common/dispnews";

                }
            });
        }

        function view_main2(data, event) {
            debugger;
            var id = data.id;
            var entity = {};

            entity.rss = "http://www.ibnlive.com/rss/sports.xml";

            entity.index = data.index;
            var dt = JSON.stringify(entity);

            $.ajax({
                type: "post",
                url: "/common/single",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    window.location.href = "/common/dispnews";

                }
            });
        }
        function view_main3(data, event) {
            debugger;
            var id = data.id;
            var entity = {};

            entity.rss = "http://www.ibnlive.com/rss/india.xml";

            entity.index = data.index;
            var dt = JSON.stringify(entity);

            $.ajax({
                type: "post",
                url: "/common/single",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    window.location.href = "/common/dispnews";

                }
            });
        }
        function view_main4(data, event) {
            debugger;
            var id = data.id;
            var entity = {};

            entity.rss = "http://www.ibnlive.com/rss/tech.xml";

            entity.index = data.index;
            var dt = JSON.stringify(entity);

            $.ajax({
                type: "post",
                url: "/common/single",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    window.location.href = "/common/dispnews";

                }
            });
        }
        function view_main5(data, event) {
            debugger;
            var id = data.id;
            var entity = {};

            entity.rss = "http://www.ibnlive.com/rss/india.xml";

            entity.index = data.index;
            var dt = JSON.stringify(entity);

            $.ajax({
                type: "post",
                url: "/common/single",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    window.location.href = "/common/dispnews";

                }
            });
        }
        function view_main6(data, event) {
            debugger;
            var id = data.id;
            var entity = {};

            entity.rss = "http://www.ibnlive.com/rss/tech.xml";

            entity.index = data.index;
            var dt = JSON.stringify(entity);

            $.ajax({
                type: "post",
                url: "/common/single",
                data: dt,
                dataType: "json",
                contentType: "Application/json",
                success: function (a) {
                    window.location.href = "/common/dispnews";

                }
            });
        }


        //////data mine/////


        $.ajax({
            type: "post",
            url: "/common/data_mine",
            data: {},
            datatype: "json",
            contentType: "application/json",
            success: function (result) {
                if (result != "NoData") {
                    DataMine(result);
                }
            }
        });
        function DataMine(rss) {
            var entity = {};
            entity.rss = rss;
            entity.category = "";
            var dt = JSON.stringify(entity);
            $.ajax({
                type: "post",
                url: "/common/mineview",
                data: dt,
                datatype: "json",
                contentType: "application/json",
                success: function (result) {
                    debugger;
                    var dt = JSON.parse(result);
                    //var s = result.news;

                    //$('#latestUpdate').append(result.news);
                    ko.applyBindings(dt, document.getElementById('data_mine'));
                }
            });
        }

        $('#home').click(function () {

            if (session["uname"] == "admin") {
                window.location.href = "/admin/admin_index";
            }
            else if (session["uname"] == "guest") {
                window.location.href = "/guest/guest_index";
            }
            else
                window.location.href = "/user/newsview";
        });
    </script>
</body>


</html>
